.page-info3 {
	background-color: #FFF;margin-top: 0%;
}

.page-info3 .scroll-content > p  {
	text-align: center;
}

.page-info3 .scroll-content > p > img {
	width: 80%; margin: 32% auto auto auto; opacity: 1;padding: 16px 16px 0px 16px;
}

.page-info3 .contenido {
	margin-top: 0%;padding: 0;
}

.page-info3 .contenido .title {
	background-color: #FFF;
}
.page-info3 .contenido .title h3 {
	text-align: center;font-size: 13px;color: #312051;font-weight: bold;text-transform: uppercase;
}

.page-info3 .contenido .info {
	background-color: #42bbbb;
}

.page-info3 .contenido .info > p {
	font-size: 14px;color: #FFF;padding-bottom: 20px;text-align: center;padding: 16px;
}

.page-info3 .contenido .info button {
	background-color: #312051;margin: 0 auto;width: 100%;border-radius: 0px;padding: 18px 0px 18px 0px;
}



