.page-info2 {
	background-color: #42bbbb;margin-top: 0%;
}

.arrow {
	text-align: center;
	padding: 0px !important;
	margin: 0px !important;
}

.arrow ion-icon {
	font-size: 60px;
	color: #FFF;
	margin-top: -30px;
}

.page-info2 .scroll-content > p  {
	text-align: center;
	background: #FFF;
	margin-top: 0;
	margin-bottom: 0;
}

.page-info2 .scroll-content > p > img {
	width: 80%; margin: 10% auto auto auto; opacity: 1;padding: 16px 16px 0px 16px;
}

.page-info2 .contenido {
	margin-top: 0%;padding: 0;
}

.page-info2 .contenido .title {
	background-color: #FFF;
}
.page-info2 .contenido .title h3 {
	text-align: center;font-size: 13px;color: #312051;font-weight: bold;text-transform: uppercase;
}

.page-info2 .contenido .info {
	background-color: #42bbbb;
}

.page-info2 .contenido .info > p {
	font-size: 14px;color: #FFF;padding-bottom: 20px;text-align: center;padding: 16px;
}

.page-info2 .contenido .info button {
	background-color: #312051;margin: 0 auto;width: 100%;border-radius: 0px;padding: 18px 0px 18px 0px;
}



