<ion-header class="header-page-situacion-actual">

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="page-situacion-actual">
<p style="text-align: center;color: #FFF; font-size: 17px;">{{ text_question }}</p>
<p><img src="{{ url_personaje }}"></p>
</ion-content>
<ion-footer class="page-situacion-actual">
<ion-grid class="contenido" style="border-top: 1px solid #FFF;border-bottom: 1px solid #FFF; margin-top:0%;">
	<ion-row>
		<ion-col col-1>
			<ion-row>
			  <p class="flecha-izquierda"><img src="assets/flecha-blanca.png" alt="" (click)="allEstados()"></p>
			</ion-row>
		</ion-col>
		<ion-col col-10>
			<ion-row>
				<ion-col col-4 *ngFor="let item of situation_actual">

					<ion-row *ngIf="idioma == 'es'" class="estado" (click)="llegada(item.id, item.percentage_profile)">
						<p><img src="assets/current_status/{{ item.image }}" alt=""></p>
						<p>{{ item.name }}</p>				
					</ion-row>

					<ion-row *ngIf="idioma != 'es'" class="estado" (click)="llegada(item.id, item.percentage_profile)">
						<p><img src="assets/current_status/{{ item.image }}" alt=""></p>
						<p *ngIf="item.name_cr != ''" >{{ item.name_cr }}</p>	
						<p *ngIf="item.name_cr == ''" >{{ item.name }}</p>			
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col col-1>
			<ion-row>
				<p class="flecha-derecha"><img src="assets/flecha-blanca.png" alt="" (click)="allEstados()"></p>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-footer>

