.page-home {
	background-color: #7e6ea7;
}

.mitoggle div .item-md.item-block .item-inner {
	padding-right: 0px;
	border-bottom: none;
}


.mitoggle div .item-md.item-block .item-inner .input-wrapper {
	float: left;
	position: absolute;
}

.mitoggle div .item-md.item-block .item-inner .toggle-md {
	margin: 0 auto;
	padding: 0;
}

.image_home {
	opacity: 1 !important;
	transition: opacity 4s;
}

.bg_button button {
	background-color: #1db6ba;
}
// 

