.head-page-theme .toolbar button.back-button {
	display: none;
}

.head-page-theme .toolbar .title ion-title {
	text-transform: uppercase;color: #FFF;padding: 5px;
}

.page-theme {
	background-color: #312051;
}

.page-theme .theme > p {
	text-align: center;
	float: left;
	width: 100%;
	margin: 1px;
	color: #FFF;
}

.page-theme .theme p img {
	width: 50px;
	margin: 0px;
	border-radius: 25px;
	border: 2px solid #312051;
}



.test {
background-color: #42bbbb;
}
