<ion-header class="header-page-pais">

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="page-pais">
<p style="text-align: center;color: #666; font-size: 17px;">{{ text_question }}</p>
<p><img src="assets/{{ imagen }}"></p>
</ion-content>
<ion-footer class="page-pais">
	<ion-grid class="contenido" style="border-top: 1px solid #312051;border-bottom: 1px solid #312051; margin-top:0%;">
		<ion-row>
			<ion-col col-1>
				<ion-row>
					<p class="flecha-izquierda"><img src="assets/flecha.png" alt="" (click)="allPaises()"></p>
				</ion-row>
			</ion-col>
			<ion-col col-10>
				<ion-row>
			  		<ion-col col-4 *ngFor="let item of countries">
						
						<ion-row *ngIf="idioma == 'es'"  class="pais" (click)="pais(item.id,item.generic_image,item.flag_image)">
							<p><img src="assets/flags/{{ item.flag_image }}" alt=""></p>
							<p>{{ item.name }}</p>				
						</ion-row>

						<ion-row *ngIf="idioma != 'es'"  class="pais" (click)="pais(item.id,item.generic_image,item.flag_image)">
							<p><img src="assets/flags/{{ item.flag_image }}" alt=""></p>
							<p *ngIf="item.name_cr != ''" >{{ item.name_cr }}</p>	
							<p *ngIf="item.name_cr == ''" >{{ item.name }}</p>				
						</ion-row>

					</ion-col>
					
				</ion-row>
			</ion-col>
			<ion-col col-1>
				<ion-row>
					<p class="flecha-derecha"><img src="assets/flecha.png" alt="" (click)="allPaises()"></p>		
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
