.page-sexo {

}

.header-page-sexo ion-navbar .toolbar-background-md {	
	background: #312051;
}

.header-page-sexo .toolbar-content .title-md .toolbar-title {
	color: #FFF !important;
	text-align: left;
	margin-left: 35px;
	font-weight: normal;
	font-size: 16px;
}

.bar-button-default-md {
	color: #FFF;
}


.arrow {
	text-align: center;
	padding: 0px !important;
	margin: 0px !important;
}

.arrow ion-icon {
	font-size: 60px;
	color: #FFF;
	margin-top: -30px;
}

.page-sexo .scroll-content > p  {
	text-align: center;
}

.page-sexo .scroll-content > p > img {
	width: 80%; margin: 15% auto auto auto; opacity: 1;padding: 16px 16px 0px 16px;
}

.page-sexo .genero > p {
	text-align: center;
	float: left;
	width: 100%;
	margin: 1px;
	color: #312051;
}

.page-sexo .genero p img {
	width: 50px;
	margin: 0px;
}

ion-content.page-sexo p.title {
	text-align: center;color: #666; font-size: 17px;
}

ion-footer.page-sexo ion-grid.contenido {
	border-top: 1px solid #312051;border-bottom: 1px solid #312051; margin-top:0%;
}

