.page-welcome {
	background-color: #e5e5e0;
}

.arrow {
	text-align: center;
	padding: 0px !important;
	margin: 0px !important;
}

.arrow ion-icon {
	font-size: 60px;
	color: #FFF;
	margin-top: -30px;
}

.page-welcome .scroll-content > p  {
	text-align: center;
	background-color: #FFF;
	margin-top:0;
	margin-bottom:0;
}

.page-welcome .scroll-content > p > img {
	width: 80%; margin: 20% auto 15% auto; opacity: 1;padding: 16px 16px 0px 16px;
}

.page-welcome .title {
	text-align: center;height: 40px;color: #666; text-transform: uppercase;font-size: 16px;
}

.page-welcome .contenido {
	background-color: #e5e5e0;
}

.page-welcome .contenido ion-row .info p {
	text-align: center;color: #666;
}

.page-welcome .contenido ion-row .info b {
	color: #666;
}

.page-welcome .contenido ion-row ion-col ion-row button.btn-perfil {
	font-size: 12px;background-color: #312051;padding: 16px;border:2px solid #312051;box-shadow:none;
}

.page-welcome .contenido ion-row ion-col ion-row button.btn-tema {
	font-size: 10px;color: #312051; background-color: #e5e5e0;border-color: #312051;padding: 16px; border:2px solid #312051;box-shadow:none;
}

.page-welcome .contenido ion-row .cuenta p {
	text-align: center;color: #666;
} 

.page-welcome .contenido ion-row .cuenta p.entra {
	text-align: center;color: #312051;
}

.page-welcome .contenido ion-row .cuenta p.entra b {
	color: #312051;text-transform: uppercase;	
}

