.page-welcome {

}

.page-welcome .scroll-content > p  {
	text-align: center;
}

.page-welcome .scroll-content > p > img {
	width: 80%; margin: 15% auto auto auto; opacity: 1;padding: 16px 16px 0px 16px;
}
