.page-all-paises {

}

.page-all-paises .pais > p {
	text-align: center;
	float: left;
	width: 100%;
	margin: 1px;
	color: #312051;
}

.page-all-paises .pais p img {
	width: 50px;
	margin: 0px;
	border-radius: 25px;
	/* border: 2px solid #312051; */
}
