<ion-header class="header-page-all-situacion-actual">

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-all-situacion-actual">
<p style="text-align: center;color: #FFF; font-size: 16px;">{{ text_question }}</p>
<ion-grid class="contenido">
		<ion-row>
			<ion-col col-4 *ngFor="let item of situation_actual">
				<ion-row *ngIf="idioma == 'es'" class="estado" (click)="llegada(item.id, item.percentage_profile)">
					<p><img src="assets/current_status/{{ item.image }}" alt=""></p>
					<p>{{ item.name }}</p>				
				</ion-row>

				<ion-row *ngIf="idioma != 'es'" class="estado" (click)="llegada(item.id, item.percentage_profile)">
					<p><img src="assets/current_status/{{ item.image }}" alt=""></p>
					<p *ngIf="item.name_cr != ''" >{{ item.name_cr }}</p>	
					<p *ngIf="item.name_cr == ''" >{{ item.name }}</p>			
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
