.page-registro {
	background-color: #ededec !important;
}

.arrow {
	text-align: center;
	padding: 0px !important;
	margin: 0px !important;
}

.arrow ion-icon {
	font-size: 60px;
	color: #FFF;
	margin-top: -30px;
}

.page-registro .scroll-content > p  {
	text-align: center;
	background-color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
}


.page-registro .scroll-content > p > img {
	width: 60%; margin: 10% auto auto auto; opacity: 1;padding: 16px 16px 0px 16px;
}

.form_registro ion-item ion-input {
	font-size: 14px !important;
}
